.all-projects{
  background: #F6F6F8;
  padding-top: 85px;
  padding-bottom: 130px;
}

.all-projects h2{
  font-size: 36px;
  line-height: 53px;
  margin-bottom: 62px;
}

.all-projects p{
  color: #999999;
  margin-top: 30px;
  line-height: 25px;
}

.all-projects__row{
  margin: 0 auto;
  display: flex;
}

.all-projects__column{
  display: inline;
  flex: 0 0 25%;
}

.all-projects__img{
  width: 255px;
  height: 255px;
  background: url('../resources/img/code.jpg'), #C4C4C4;
  background-size: cover;
  border-radius: 10px;
  margin-right: 30px;
}

.all-projects__button{
  margin: 50px auto;
  margin-bottom: 0px;
}
