.f-1{
  background: url(../img/1-1.png) #282f35;
  background-position: top;
  background-size: cover;
}

.f-2{
  background: url(../img/1-2.png) #282f35;
  background-position: top;
  background-size: cover;
}

.s-1{
  background: url(../img/2-1.png) #282f35;
  background-position: top;
  background-size: cover;
}

.s-2{
  background: url(../img/2-2.png) #282f35;
  background-position: top;
  background-size: cover;
}

.t-1{
  background: url(../img/3-1.png) #282f35;
  background-position: top;
  background-size: cover;
}

.t-2{
  background: url(../img/3-2.png) #282f35;
  background-position: top;
  background-size: cover;
}

.t-3{
  background: url(../img/3-3.png) #282f35;
  background-position: top;
  background-size: cover;
}

.n-1{
  background: url(../img/11.png) #282f35;
  background-position: center;
  background-size: cover;
}

.n-2{
  background: url(../img/12.png) #282f35;
  background-position: center;
  background-size: cover;
}

.n-3{
  background: url(../img/13.png) #282f35;
  background-position: center;
  background-size: cover;
}

.n-4{
  background: url(../img/14.png) #282f35;
  background-position: center;
  background-size: cover;
}

.n-5{
  background-color: rgba(100, 194, 158, 0.5);
  background: url(../img/15.png);
  background-position: center;
  background-size: cover;
}

.n-6{
  background: url(../img/21.png) #282f35;
  background-position: center;
  background-size: cover;
}

.n-7{
  background: url(../img/22.png) #282f35;
  background-position: center;
  background-size: cover;
}

.n-8{
  background: url(../img/23.png) #282f35;
  background-position: center;
  background-size: cover;
}
